.weather-info {
  min-width: 390px;
  min-height: 490px;
  background-color: #d3e3ea;
  font-size: 20px;
  border-radius: 50px;
  margin-bottom: 20px;
}

p {
  font-family: "Tajawal", sans-serif;
  color: #827290;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.temperatura-atual{
  margin-top: 30px;
 
}

.temperatura-atual > p{
  margin-bottom: 10px;
  color:#755096;
  font-weight: 900;
}

.humidade {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vento {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vento > p {
  margin-bottom: 10px;
}

.sol {
  margin-top: 20px;
}

.sol > p {
  margin-bottom: 10px;
}

.paragrafo {
  margin-left: 30px;
}

.linha {
  border: 1px solid #7a6989;
  box-shadow: 5px 5px 30px rgb(122, 105, 137, 25);
}

.bottom-hr {
  width: 50px;
}

.top-hr {
  width: 150px;
}
