.Search {
    border-radius: 40px;
    position: absolute;
    border: 1px solid #4F9BE0;
    box-sizing: border-box;
    width: 626px;
    height: 79px;
}

input::placeholder {
    color: #8D8D8D;
    font-size: 36px;
    font-family: 'Tajawal', sans-serif;
    margin: 20px;

  }