.Search {
    border-radius: 40px;
    border: 1px solid #4F9BE0;
    width: 500px;
    height: 30px;
    padding: 20px 30px 20px 30px;
    font-size: 30px;
}

::placeholder {
    color: #8D8D8D;
    font-size: 36px;
    font-family: 'Tajawal', sans-serif;
    margin-top: 10px
}

.input-wrapper{
    position: relative;
}

.link{
    position:absolute;
    background: none;
    border: none;
    right: 20px;
    top:10px;
}

.material-icons.md-48{
    font-size: 48px
}