@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  padding: 0;

  overflow-y: hidden;
  overflow-x: hidden;
}

.App {
  background-color: #fcfcee;
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: #cad6db;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 30vh;
}
